body {
    background-image: linear-gradient(180deg, #af68ea, #6565e7);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Kumbh sans;
    font-weight: 400, 700;
    font-size: 12px;
    margin-bottom: 0;
}

.card {
    margin: auto;
    margin-top: 300px;
    

}

#accordionFlushExample {
    margin-left: auto;
    height: 300px;
    border: none;
}

.lady_img {
    margin-left: -80px;
    margin-top: 20px;
}

.orange_box {
    margin-left: -410px;
    margin-top: 110px;
}
